In [ ]:
### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

```python
import pandas as pd

# Creating a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the series
print(series)
```

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable and print it.

```python
import pandas as pd

# Creating a list with 10 elements
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list to a Pandas Series
series_from_list = pd.Series(data_list)

# Printing the series
print(series_from_list)
```

### Q3. Create a Pandas DataFrame that contains the following data and print the DataFrame.

Assuming the data is:
- Names: ['John', 'Jane', 'Jim', 'Joan']
- Ages: [25, 30, 35, 40]
- Occupations: ['Engineer', 'Doctor', 'Teacher', 'Lawyer']

```python
import pandas as pd

# Creating a dictionary with the data
data = {
    'Name': ['John', 'Jane', 'Jim', 'Joan'],
    'Age': [25, 30, 35, 40],
    'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer']
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)
```

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

A **DataFrame** in pandas is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a database or an Excel spreadsheet.

A **Series** is a one-dimensional labeled array capable of holding any data type. It is like a single column of data.

**Example:**

```python
import pandas as pd

# Creating a Pandas Series
series = pd.Series([1, 2, 3, 4, 5])
print("Pandas Series:")
print(series)

# Creating a Pandas DataFrame
data = {
    'Column1': [1, 2, 3],
    'Column2': ['A', 'B', 'C']
}
df = pd.DataFrame(data)
print("\nPandas DataFrame:")
print(df)
```

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions to manipulate data in a Pandas DataFrame include:
- `head()`: to view the first few rows of the DataFrame.
- `tail()`: to view the last few rows of the DataFrame.
- `describe()`: to get a statistical summary of the DataFrame.
- `drop()`: to remove columns or rows.
- `fillna()`: to fill missing values.
- `groupby()`: to group data and perform aggregate functions.

**Example:**

```python
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['John', 'Jane', 'Jim', 'Joan', 'Jake'],
    'Age': [25, 30, 35, 40, None],
    'Occupation': ['Engineer', 'Doctor', 'Teacher', 'Lawyer', 'Nurse']
}
df = pd.DataFrame(data)

# Using fillna() to fill missing values
df['Age'] = df['Age'].fillna(df['Age'].mean())

# Printing the DataFrame
print(df)
```

### Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?

Both **Series** and **DataFrame** are mutable in nature, meaning you can change their contents after they are created. 

### Q7. Create a DataFrame using multiple Series. Explain with an example.

**Example:**

```python
import pandas as pd

# Creating individual Series
names = pd.Series(['John', 'Jane', 'Jim', 'Joan'])
ages = pd.Series([25, 30, 35, 40])
occupations = pd.Series(['Engineer', 'Doctor', 'Teacher', 'Lawyer'])

# Creating a DataFrame using the Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Occupation': occupations
})

# Printing the DataFrame
print(df)
```

In this example, three Series (names, ages, and occupations) are combined to create a DataFrame, where each Series becomes a column in the DataFrame.